body{
    background-color: beige;
    padding: 0px;
    margin: 0px;
   
}

#main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 40px;
    /* margin-left: 40%;
    margin-top: 10px; */
}

#container{
    height:500px;
    width: 500px;
    background-color: aliceblue;
    /* margin-left: 30%;
    margin-bottom: 20%; */
    box-shadow: 2px 5px 10px 10px rgb(104, 102, 102);
    display: flex;
    flex-wrap: wrap;
    
    /* fix the issue with space between items */
      /* align-content:flex-start;  */ 
    
}

