body{
    /* background-color: beige; */
    background-color:antiquewhite;
    padding: 0px;
    margin: 0px;
    display: flex;
   
}

#options{
    background-color: antiquewhite;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: 2px solid #666;
    margin-top: 110px;
    padding: 10px;
   
}
#inputBttn{
    display: flex;
}
#bttn , #clear{
    width: 80px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    border-radius: 5px;  
    margin-left: 25px;
    margin-top: 4px;
}
#clear{
    margin-left: 232px;
    margin-top: 20px;
}

#clear:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#bttn:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .numbers{
    margin-left: 65px;
}
#number{
    width: 200px;
    height: 30px;
    border-radius: 25px;
}

#colorPicker{
    width: 80px;
    height: 80px;
    border: none;
    margin-left: 0px;
    margin-top: 20px;
}
#pickColor{
    margin-left:0px;
}
#sketch{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
}
p{
    font-size: 20px;
    font-weight: bold;
  
}
h1{
    font-size: 40px;
    
}

#container{
    height:500px;
    width: 500px;
    background-color: aliceblue;
    box-shadow: 1px 1px 3px 3px rgb(104, 102, 102);
    display: flex;
    flex-wrap: wrap;
    
}

